@import "color-fonts.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--wheat-bg);
}


header {
    box-shadow: 0 -5px 10px 0 var(--black-bg);
    background-color: var(--wheat-bg);
}

header h1 {
    text-align: center;
    padding: 20px;
    color: var(--white-bg);
    font-family: var(--font-prompt);
    text-shadow: -1px 1px 0 var(--black-bg),
                1px 1px 0 var(--black-bg),
                1px -1px 0 var(--black-bg),
                -1px -1px 0 var(--black-bg);
}

.new-button {
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: fixed;
    background-color: var(--green-bg);
    border-radius: 100%;
    z-index: 2;
}

.new-button a {
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    text-decoration: none;
    color: var(--white-bg);
}

.new-button:hover {
    transition: 300ms;
    transform: scale(1.05);
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.content-box {
    background-color: var(--white-bg);
    width: 80%;
    margin: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--black-bg);
    box-shadow: 10px 10px 0 0 var(--black-bg);
    padding: 20px;
}   

.content-box .title h2 {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font-prompt);
}

.content-box .date p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: var(--font-prompt);
}

.content-box .description p {
    font-size: 1rem;
    margin: 10px 0;
    font-family: var(--font-prompt);
}

.any-button {
    display: flex;
    justify-content: end;
    align-items: center;
}

.readmore-btn, .any-button .edit-btn, .del-btn{
    display: flex;
    text-align: center;
    margin: 5px;
    background-color: var(--white-bg);
    padding: 10px 6px;
    box-shadow: 5px 5px 0 0 var(--black-bg);
    border: 1px solid var(--black-bg);
}

.readmore-btn a, .any-button .edit-btn a, .del-btn button {
    text-decoration: none;
    color: var(--black-bg);
    border: none;
    padding: 0 5px;
    background: none;
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--font-prompt);
}

.readmore-btn:hover, .any-button .edit-btn:hover, .del-btn:hover {
    transition: 300ms;
    transform: scale(1.05);
}

/* footer {
    background-color: var(--wheat-bg);
    padding: 40px;
    box-shadow: 0 5px 10px 0 var(--black-bg);
}

footer h3 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white-bg);
    text-shadow: -1px 1px 0 var(--black-bg),
                1px 1px 0 var(--black-bg),
                1px -1px 0 var(--black-bg),
                -1px -1px 0 var(--black-bg);
} */
