<div class="form-title">
    <label for="title"></label>
    <!-- variable title -->
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control" placeholder="Title">
</div>

<div class="form-description">
    <label for="description"></label>
    <!-- variable description -->
    <textarea required name="description" id="description" class="form-control" placeholder="Description"><%= article.description %></textarea>
</div>

<div class="form-markdown">
    <label for="markdown"></label>
    <!-- variable markdown -->
    <textarea required name="markdown" id="markdown" class="form-control" placeholder="Markdown"><%= article.markdown %></textarea>
</div>

<div class="btn-container">
    <!-- button cancel -->
    <a href="/">Cancel</a>

    <!-- button save -->
    <button type="submit">Save</button>
</div>