<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show-style.css" type="text/css">
    <title>Blog</title>
</head>
<body>
    <header>
        <!-- title -->
        <h1><%= article.title %></h1>
         <!-- date -->
        <div class="date-box">
            <h4><%= article.createdAt.toLocaleDateString() %></h4>
        </div>
    </header>
    <section>
        <!-- markdown -->
        <div class="markdown-container">
            <p><%- article.sanitizedHtml %></p>
        </div>
        <div class="button-container">
            <div class="back-btn">
                <a href="/">Back</a>
            </div>
            <div class="edit-btn">
                <a href="/articles/edit/<%= article.id %>">Edit</a>
            </div>
        </div>
    </section>
</body>
</html>