<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show-style.css" type="text/css">
    <title>Blog</title>
</head>
<body>
    <header>
        <!-- title -->
        <h1><%= article.title %></h1>
        <!-- button -->
         <div class="back-btn">
            <a class="btn btn-primary" href="/"><</a>
         </div>
        <div class="m-3">
            <a class="btn btn-warning" href="/articles/edit/<%= article.id %>">Edit</a>
        </div>
        <!-- date -->
        <div class="p-3">
            <%= article.createdAt.toLocaleDateString() %>
        </div>
    </header>
    <section>
        <!-- markdown -->
        <div class="p-3">
            <%- article.sanitizedHtml %>
        </div>
    </section>
</body>
</html>